{
    "presets": ["env", "react"],
    "plugins": [
      ["module-resolver", {
     
        "alias": {
          // "test": "./test",
          // "underscore": "lodash",
          "Pages": "./src/Pages",
          "Config": "./src/Config",
          "Components": "./src/Components",
          "Actions": "./src/Actions",
          "Reducers": "./src/Reducers"
          // "components": "./Components",
          // "components": "./Components",

        }
      }]
    ]
  }